* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-image: url(./img/backgroun.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
}

